<header>
    <div class="top-section">
        <img src="images/logo2.png" alt="Boarder's Haven Logo" class="logo">
        <div class="site-info">
            <h1>Boarder's Haven</h1>
            <div class="motto">
                <p>A paradise for snowboarders!</p>
            </div>
        </div>
    </div>
    <nav>
        <a href="index.html">Home</a>
        <a href="product-listing.html">Products</a>
        <a href="cart.html">Cart</a>
        <a href="submit-new-gear.html">Submit New Gear</a>
    </nav>
</header>
